<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- https://getbootstrap.com/docs/5.3/getting-started/introduction/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        
        <!-- https://favicon.io/emoji-favicons/bow-and-arrow -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/style.css" rel="stylesheet">

        <title>William Nayar: {% block title %}{% endblock %} </title>
    </head>
    <body class="layoutbody">
        <nav class="navbar navbar-light navbar-expand-md bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><span>W</span><span>I</span><span>L</span><span>L</span><span>-</span><span>I</span><span>-</span><span>A</span><span>M</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Deep Learning</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Blog</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Goals</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Motivation</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <br>
        <div class="container-fluid">
            <div class="gyroscope">
                <div class="circle"><span id="one">*</span></div>
                <div class="circle"><span id="two"></span></div>
                <div class="circle"><span id="three"></span></div>
                <div class="circle"><span id="four">*</span></div>
                <div class="circle"><span id="five"></span></div>
                <div class="circle"><span id="six">*</span></div>
                <div class="circle"><span id="seven"></span></div>
                <div class="circle"><span id="eight">*</span></div>
                <div class="circle"><span id="nine">*</span></div>
                <div class="circle"></div>
            </div>
        </div>
        <br><br><br><br><br><br>
        <div class="container-fluid standard interests2">
            Make goals so great
        </div>
        <div class="container-fluid standard">
            That you have to achieve them.
        </div>
        <!-- <br> -->
        <div class="namecard">
            <img src="/static/profile_picture_black.png" alt="Profile Picture">
            <div class="interestsmain teal">
                <h2>William Nayar</h2>
            </div>
            <p class="interestssub">
                I love solving hard problems
            </p>
            <div class="links">
              <a href="https://sg.linkedin.com/in/william-nayar" target="_blank">
                <img src="/static/linkedin.png" alt="LinkedIn">
              </a>
              <a href="https://github.com/Wnayar" target="_blank">
                <img src="/static/github.png" alt="GitHub">
              </a>
              <a href="https://www.facebook.com/william.nayar.5" target="_blank">
                <img src="/static/facebook.png" alt="Facebook">
              </a>
            </div>
        </div>
        <div class="container-fluid">
            <h1 class="aboutme centertext1 teal">About me</h1>
            <h2 class="aboutme2 centertext2 gold"> I have a strong passion for merging both finance and computer science to develop automated abitrage algorithms. By merging my expertise in computer science with my understanding of finance, I bring a unique perspective to algorithmic trading. My goal after university is to pursue a career as a qunatitiave trader in high performing firms and to eventually become the best quantitative trader.</h2>
            <br>
            <h3 class="aboutme centertext1new teal">Areas of interest</h3>
            <ul class="aboutme2 centertext2new">
                <li>Financial Arbitrage Strategies</li>
                <li>Machine Learning</li>
                <li>Automated Algorithm Development</li>
                <li>Software Development</li>

            </ul>
        </div>





        



    



    </body>
</html>